p { font-family: ""; }

h1 {
  /* background: url('ray.png') 50% bottom no-repeat; */
  background: url('blob.png') right center no-repeat;
  background-size: contain;
}

div.entry div table tr td { padding-right: 10px; }

video { width: 100%; }

table { border: 1px solid #eee; margin-bottom: 2em; }
table tr { border-bottom: 1px solid #eee; }
table td { border}
