{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div id="blue">
<table class="browse">
  <thead>
    <tr>
      <td>Enzyme</td>
      <td>Mutation</td>
      <td>Yield</td>
      <td>Purity</td>
      <td>Substrate</td>
      <td><em>k</em><sub>cat</sub></td>
      <td>K<sub>M</sub></td>
      <td><em>k</em><sub>cat</sub>/K<sub>M</sub></td>
      <td>Image</td>
    </tr>
    <tr class="units">
      <td></td>
      <td></td>
      <td>mg/mL</td>
      <td></td>
      <td></td>
      <td>1/min</td>
      <td>mol/L</td>
      <td>mol/L/min</td>
      <td></td>
    </td>
  </thead>

  <tbody>
    {% for entry in entry_list %}
    <tr>
      <td title="EC {{entry.ec_number}}, UniProt {{ entry.uniprot_ID }}, PDB {{ entry.pdb_ID }}">
        <a href="/enter/systems/">{{ entry.system }}</a>
      </td>
      <td>
        {{ entry.mutations }}
      </td>
      <td>
        {{ entry.yyield }}
      </td>
      <td>
        {{ entry.purity }}
      </td>
      <td>
        <!-- API key e60e3193ed1c4299aedc9f7cc7e5a0a8 for Entrez search -->
        <!-- or add DB spot for substrate CID -->
        <a href="https://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid={{entry.substrate}}">{{ entry.substrate }}</a>
      </td>
      <td>
        {{ entry.k_cat }} &plusmn; {{ entry.err_k_cat }}
      </td>
      <td>
        {{ entry.K_M }} &plusmn; {{ entry.err_K_M }}
      </td>
      <td>
        {{ entry.over }} &plusmn; {{ entry.err_over }}
      </td>
      <td>
        <!-- lane image -->
      </td>
    </tr>
    {% endfor %}
  </tbody>

  <tfoot>
  </tfoot>
</table>
</div>

{% endblock %}
