{% extends "base.html" %}
{% block title %}SEEK - Browse{% endblock %}
{% block content %}
<div id="blue">
  <table id="browse">
    <thead>
      <tr>
        <td>Enzyme</td>
        <td>EC</td>
        <td>Mutations</td>
        <td>Substrate</td>
        <td><em>k</em><sub>cat</sub>&nbsp;(1/min)</td>
        <td></td>
        <td>Error</td>
        <td>K<sub>M</sub>&nbsp;(mol/L)</td>
        <td></td>
        <td>Error</td>
        <td><em>k</em><sub>cat</sub>/K<sub>M</sub></td>
        <td></td>
        <td>Error</td>
      </tr>
    </thead>

    <tbody>
      {% for entry in entry_list %}
      <tr>
        <td title="UniProt {{ entry.uniprot_ID }}, PDB {{ entry.pdb_ID }}">
          <a href="/enter/systems/">{{ entry.system }}</a>
        </td>
        <td>
          {{ entry.ec_number }}
        </td>
        <td>
          {{ entry.mutations }}
        </td>
        <td>
          <small><a href="https://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid={{entry.cid}}">{{ entry.substrate }}</a></small>
        </td>
        <td>
          {{ entry.k_cat|stringformat:".2e" }}
        </td>
        <td>&plusmn;</td>
        <td>
          {{ entry.err_k_cat|stringformat:".2e" }}
        </td>
        <td>
          {{ entry.K_M|stringformat:".2e" }}
        </td>
        <td>&plusmn;</td>
        <td>
          {{ entry.err_K_M|stringformat:".2e" }}
        </td>
        <td>
          {{ entry.over|stringformat:".2e" }}
        </td>
        <td>&plusmn;</td>
        <td>
          {{ entry.err_over|stringformat:".2e" }}
        </td>
      </tr>
      {% endfor %}
    </tbody>

    <tfoot>
    </tfoot>
  </table>
</div>

<script type='text/javascript' charset='utf8'>
  $(document).ready( function () {
      $('#browse').DataTable({paging: false});
      } );
    </script>

    {% endblock %}
