<!doctype html>
<html>
	<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'enter/style.css' %}">
		<title>Engineered Enzyme Database at UC Davis</title>
	</head>
	<body>
		<h1>
			<big>EED</big>
			<br><small>Portal to enzyme engineering</small>
		</h1>
		<nav>
			<a href="browse.html">Browse</a>
			<a href="index.html">Submit</a>
		</nav>

		<div id="blue">
      
    <h2>Browse the EED</h2>
    <table>
      <thead>
        <tr>
          <td>Enzyme system</td>
          <td>Uniprot accession number</td>
          <td>PDB ID</td>
          <td>Enzyme classification number</td>
          <td>Mutation</td>
          <td>Yield <span>mg/mL</span> </td>
          <td>Purity</td>
          <td>Substrate</td>
          <td><em>k</em><sub>cat</sub> <span>1/s</span> </td>
          <td>K<sub>M</sub></td>
          <td>k<sub>cat</sub>/K<sub>M</sub></td>
          <td>Gel image</td>
        </tr>
      </thead>
      <tbody>
        {% for entry in entry_list %}
        <tr>
          <td alt="EC {{entry.ec_number}}, UniProt {{ entry.uniprot_ID }}">
            {{ entry.system }}
          </td>
        </tr>
        {% endfor %}
      <tfoot>
      </tfoot>
    </table>

		</div> <!-- closes div#blue -->
		<footer>
			<img src="images/seal.jpg">
			<p>Engineered Enzyme Database at the University of California, Davis</p>
			<p>UC Davis Genome Center, 451 Health Sciences Drive, Davis CA 95616</p>
		</footer>
	</body>
</html>
