{% extends "base.html" %}
{% block content %}

<!-- Security hash: {{ hash_value }} -->

<div class="page-header">
  <h1>Results!</h1>
  <p class="lead">Your results (<em>finally</em>)</p>
</div>

{% for key, value in analyses.items %}
<div class="row">
  <div class="col-md-4">
    <h2>{{key}}</h2>
  </div>
  <div class="col-md-4">
    <p>k<sub><em>cat</em></sub>: {{value.kcat|stringformat:"1.0e"}} sec<sup>&ndash;1</sup>
        &plusmn; {{value.err1|stringformat:"1.0e"}}</p>
    <p>K<sub><em>M</em></sub>: {{value.km|stringformat:"1.0e"}} M &plusmn;
        {{value.err2|stringformat:"1.0e"}}</p>
  </div>
  <div class="col-md-4">
    <img width=200 height=200 src="data:image/png;base64,{{ value.linear_plot }}"/>
  </div>
</div>
<hr>
{% endfor %}
{%endblock %}