{% extends "base.html" %}
{% block content %}
<div id=blue>
  <table>
    <tr>
      <td>
        {% if form.errors %}
        <h2>Please correct the following errors</h2>
        {% else %}
        <h2>Single entry</h2>
        {% endif %}
        <form class="submit" enctype="multipart/form-data" method="post" action="/enter/submit/">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="hidden" name="{{ stage_field }}" value="1" />
          <p><input type="submit" value="Preview" /></p>
        </form>
      </td>
      <td>
        <h2>Batch entry</h2>
        <p>
        Use <a href="">this template</a> to submit a batch in CSV
        format. 
        </p>
        <form>

        </form>
      </td>
    </tr>
  </table>
</div>
{% endblock content %}
