/* general and site-wide styles */

body {
	margin: 0;
	padding: 0;
	background: url('images/seek.png') center -190px no-repeat #fff;
  background-size: 1200px;
}

h1 {
	font: bold 55px/44px "Source Serif Pro";
  text-align: center;
  margin: 123px auto 0 auto;
  padding: 23px;
}

h1 small { font: normal 24px/24px "Source Serif Pro"; }

nav {
  text-align: center;
  font: bold 30px/30px "Source Serif Pro";
  margin: 25px 0 50px 0;
}

nav a {
	text-decoration: none;
	padding: 6px 20px;
	color: navy;
}

div#blue {
	background: white;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
	font-family: "Source Serif Pro";
  font-size: 18px;
	font-weight: 400;
	padding: 50px 100px;
	line-height: 196%;
}

footer {
	font: normal 16px/20px "Source Serif Pro";
	margin: 50px 100px 50px 100px;
  padding: 50px 0 25px 0;
  background: white url('images/seal.jpg') right top no-repeat;
  background-size: auto 100%;
}

footer img { width: 200px; } /* for index page */
p#tagline {
  font: italic 24px/30px "Hoefler Text";
  text-align: center;
}

/* specific to submit view */

form { position: relative; }

label + input, label + select, input {
	position: absolute;
	left: 280px;
  font: normal 18px/18px "Source Serif Pro";
}

hr { border: none; height: 40px; } /* systems */

/* browse view */

table { width: 100%; }
td { padding: 0 8px; vertical-align: top; }
thead { font-weight: 900; background: white; }
tr.units td { font-weight: 100; border-bottom: 4px solid navy; }
table.browse tbody td { border-bottom: 1px solid navy; }
