/* general and site-wide styles */

body {
	margin: 0;
	padding: 0;
	background: url('images/seek.png') center -190px no-repeat #fff;
  background-size: 1200px;
}

h1 {
	font: bold 55px/44px "Source Serif Pro";
  text-align: center;
  margin: 123px auto 0 auto;
  padding: 23px;
}

h1 small { font: normal 24px/24px "Source Serif Pro"; }

nav {
  text-align: center;
  font: bold 30px/30px "Source Serif Pro";
  margin: 25px 0 50px 0;
}

nav a {
	text-decoration: none;
	padding: 6px 20px;
	color: navy;
}

a { color: navy; }

div#blue {
	background: white;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
	font: normal 18px/26px "Source Serif Pro";
	padding: 50px 100px;
}

table { width: 100% }

footer {
	font: normal 16px/20px "Source Serif Pro";
	margin: 50px 100px 50px 100px;
  padding: 50px 0 25px 0;
  background: white url('images/seal.jpg') right top no-repeat;
  background-size: auto 100%;
}

/* browse view */

thead {
  background: #fbfbfb;
}

/* for index page */

p#tagline {
  font: normal 24px/36px "Source Serif Pro";
  text-align: center;
  width: 33em;
  margin: 0 auto;
}
#tagline + p { text-align: center; }

/* specific to submit view */

table.submit * td { vertical-align: top; width: 50%; }

form { position: relative; }

label + input, label + select, .submit input {
	position: absolute;
	left: 280px;
  font: normal 18px/18px "Source Serif Pro";
}

hr { border: none; height: 40px; } /* systems */
