/* general and site-wide styles */

body {
	margin: 0;
	padding: 0;
	background: url('images/glu.png') top left no-repeat #fff;
	background-size: 200px;
	background-position: 533px 0;
}

h1 {
	font-family: "Source Serif Pro";
	font-weight: 100;
	font-size: 33px;
	margin: 100px 0 10px 100px;
}

h1 big {
	display: inline-block;
	font-weight: 900;
	margin-bottom: 25px;
}

nav {
	font-family: "Source Serif Pro";
	font-weight: 800;
	margin: 0 0 100px 100px;
	font-size: 30px;
}

nav a {
	text-decoration: none;
	padding: 0 20px 6px 0;
	color: #01408d;
}

div#blue {
	background: #e1ecf5;
	font-family: "Source Serif Pro";
	font-weight: 400;
	padding: 100px;
	line-height: 196%;
}

footer {
	font-family: "Source Serif Pro";
	font-weight: 200;
	font-size: 24px/34px;
	margin: 100px 0 100px 100px;

}

footer img {
	width: 200px;
	margin-left: -22px;
}

/* specific to index (Submit) view */

hr {
	border: 1px solid #fff;
	margin: 2em 0 2em 0;
}

form { position: relative; }

label + input, label + select {
	position: absolute;
	left: 220px;
}

h3 span {
	display: block;
	position: absolute;
	margin-top: 10px;
	left: 400px;
	font-size: 14px;
	font-weight: 400;
	color: #666;
	width: 50%;
	line-height: 18px;
}

/* specific to detail (Browse) view */

h3.filter {
	font-weight: normal;
}

h3.filter small { opacity: 0.4; padding-right: 10px}

table {
	border: none;
	width: 100%;
}

tr.header { font-weight: 900; }
tr.header td { border-bottom: 2px solid #444; }

td { border-bottom: 1px solid #aaa; }
