{% extends "base.html" %}

{% block title %}SEEK: Browse kinetic constants{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Standardized database: kinetic constants</h1>
  <p class="lead">Michaelis-Menten constants for our model systems</p>
</div>


<table class="table table-hover">
  <thead> 
    <tr>
      <th>System <small>Mutant</small></th>
      <th>Substrate</th>
      <th>k<sub><em>cat</em></sub> (min<sup>&ndash;1</sup>)</th>
      <th>K<sub><em>M</em></sub> (M)</th>
      <th>Efficiency&nbsp;(M<sup>&minus;1</sup>min<sup>&minus;1</sup>)</th>
    </tr>
  </thead>
  <tbody>

{% for entry in entry_list %} 

    <tr data-toggle="collapse" data-target="#id_{{ entry.id }}" aria-expanded="false"> 
      <td><p><b>BglB </b><small>{{entry.mutant|upper }}</small></p></td>
      <td> <p><a href="https://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid={{entry.cid}}">
           {{entry.substrate}}</a></p>
      </td>

      <td>
        <p>{{entry.kcat|stringformat:"1.0e"}} &plusmn; {{entry.err1|stringformat:"1.0e"}}</p>
      </td>

      <td>
        <p>{{entry.km|stringformat:"1.0e"}} &plusmn; {{entry.err2|stringformat:"1.0e"}}</p>
      </td>

      <td>
        <p>{{entry.eff|stringformat:"1.0e"}} &plusmn; {{entry.err3|stringformat:"1.0e"}}</p>
      </td>
    </tr>
  
    <tr class="collapse" id="id_{{entry.id}}">
      <td class="metadata" colspan=6>
        <table>
          <tr>
            <td>
              <img src="/static/blob.png" width=100 >
            </td>
            <td>
              <p><a href="">Molecular model</a></p>
              <p><a href="">Structural features</a></p>
              <p><a href="">Raw data</a></p>
            </td>
            <td>
                <p><strong>Published</strong> {{entry.date}} </p>
                <p><strong>Protein yield</strong> {{entry.yyield}} mg/mL</p>
                <p><strong>Submitted by</strong> SEEK Team</p>
            </td>
            <td>
               <img height=100 src="data:image/png;base64,{{ entry.lin }}"/>
            </td>
          </tr>
        </table>
      </td>
    </tr>
{%endfor%}
</tbody>
</table>

{% endblock %}
