{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h1>Help with SEEK</h1>
  <p class="lead">Where to find help with design-build-test cycle</p>
</div>

<div class="row">
  <div class="col-md-6">

    <blockquote>
      <h4>SEEK Beta 2</h4>
      <p>Fair warning: this is a beta release of SEEK. While data and methods
        should be reliable, count on things changing as we continue building
        the platform!
        Please <a href="mailto:">email us</a> with any questions, concerns, or comments.
        <em>&mdash; The SEEK Team</em>
      </p>
    </blockquote>
  </div>
  <div class="col-md-6">
    <h2>How to cite SEEK</h2>
    <p>To cite the Standardized Enzyme Engineering Knowledgebase, please refer to</p>

    <blockquote>
      <p>Authors, A. et al. "The Standardized Enzyme Engineering Knowledgebase"
        <em>NAR</em> 2014, 100, 100-101</p>
    </blockquote>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Help with the website </h3>

    <p>For questions about the SEEK website, please <a href="">email the
      webmaster</a>.</p>
  </div>
  <div class="col-md-4">
    <h3>Help with obtaining Foldit</h3>

    <p>For now, please <a href="">email the
      SEEK Team</a> to get a license for Foldit.</p>
  </div>
  <div class="col-md-4">
    <h3>Help with loading the model into Foldit</h3>

  </div>
</div>

<div class="row">
  <h1 align = "center">FAQs</h1>
  <div class="col-md-6">
    <h2 align = "center">Results</h2>
    <h3>What happens if you don’t get colonies?</h3>

    <p>
      If there are no colonies present on Day 2, the transformation procedure
      was probably done incorrectly. It is critical that the chemical competent
      cells are not warmed or shaken, as they are very fragile. Something as
      simple as holding the tube of cells by the base, instead of the top, that
      can heat them beyond repair.
    </p>

    <p>
      Also, make sure the cells are actually touching the plasmid. Do the heat
      shock and subsequent steps quickly and efficiently. Make sure your heat
      bath and incubator are up to temperature and evenly heated.
    </p>

    <h3>What happens if you don’t get protein yield?</h3>

    <p>Don’t panic! Unless it is your wild type!</p>

    <p>
      It is common to experience around a 15% non-expression rate in enzyme
      mutations. It doesn’t necessarily mean you’ve done something wrong.
    </p>

    <p>
      First, redo your absorbance reading. Second, compare the yield gathered
      from absorbance at 280 nm to the electrophoresis gel results. Do they agree?
      Compare other mutations to the gel to confirm uniform agreement. If they agree,
      and the yield is less than 0.165 mg/mL, you can label it as non-expressed.
      If the gel shows more protein than the absorbance reading, it is likely
      that the absorbance reading is erroneous, so long as the gel procedure was
      done correctly. If the wild type yields are very low or non-existent, then
      something went wrong in your procedure and it needs to be redone.
    </p>

    <h3>What happens if my results are several fold different than the wild type?</h3>

    <p>
      Mutant results for kcat, km, and kcat/km can be considered “wild-type like”
      if they are within a two-fold difference of the wild type’s accepted average
      value. Larger differences indicate important chemical changes in the mutated
      enzyme, and the chemical structures of the mutation and the wild type should
      be examined carefully to try to understand why. Data for a mutant with no
      efficiency is just as valuable to understanding the structure/function
      relationship as it is for a mutant with an improved efficiency.
    </p>

    <h3>What happens if the protein bands don’t show up on a gel?</h3>

    <p>
      Some mutants will not express; however, you should always see your wild
      type on the gel. If you don’t see a band for a certain mutant, confirm that
      the absorbance reading is also very low. If it is not in agreement, it is
      possible something went wrong with the gel. Retake the absorbance reading
      to confirm before using another gel.
    </p>

    <h3>What happens if the k<sub>cat</sub> and k<sub>m</sub> I find for my wild type
      is no where near, or is greater than, two-fold off the published value on SEEK?</h3>

      <p>
        Make sure your units are in agreement with the published value. If after
        conversion the values still have more than a two-fold difference,
        rerun the protocol.
      </p>

    <h3>What does it mean if I see more than one band on my gel for one protein?</h3>

      <p>
        Your protein is likely contaminated with other proteins and the absorbance
        readings will be skewed. Rerun the protocol.
      </p>
    </div>
  <div class="col-md-6">
    <h2 align = "center">Rates</h2>
    <h3>What happens if my rates don’t make sense?</h3>

      <p>
        The higher the substrate concentration in the assay, the faster the rate.
        Therefore, as the amount of substrate lessens, the rate should also follow a
        decreasing, uniform pattern.
      </p>

      <p>
        When there is very low activity, it is often necessary to personally
        inspect the graph generated by the computer. You want to make sure the
        slope of the line follows the same pattern (fast vs. slow) as what you
        observed because computers aren’t perfect. (See Masking Points). You may
        have to mask, or hide, certain data points so that the slope is a better
        representation of the data itself. If your rates do not generally follow the
        expected pattern after masking, it is possible there was an error in the
        procedure itself. It is critical that each well has the same volume and
        correct concentrations of reactants. Be careful to check that your
        multi-channel pipet is collecting reactants evenly.
      </p>

    <h3>What happens if my rates are negative?</h3>

      <p>
        On occasion, you may get a negative rate. This is usually associated with
        low substrate concentrations or a low activity mutant.  A few negative rates
        will generally not affect the final Michaelis Menten kinetic result. However,
        a majority of them will. Be sure each graph’s calculated slope truly represents
        the data points.
      </p>

      <p>
        Conduct a thorough inspection of the graphs. If the graphs are still
        yielding a large amount of negative rates, and the absorbance and gel
        prove the presence of a protein, then you should consider redoing the
        assay for that mutant.
      </p>

    <h3>What is the background rate? How do I subtract the background rate out?</h3>

      <p>
        You can run a normal assay described in the protocol without protein to determine
        the background rate of your instrument. The resultant rates of each substrate
        concentration should be systematically subtracted from the respective rates
        of every mutant.
      </p>
      <h3>What happens if my mutant’s rates are off the charts in my assay?</h3>

      <p>Check to make sure you actually diluted the protein!</p>

      <p>If it was diluted, you can:</p>
      <p>
        1. Adjust the number of data points the program needs to calculate the
        rate so that the few you collected will suffice
      </p>
      <p>
        2. Dilute the protein another ten-fold and run a new assay along with a
        wild type at the same dilution.
      </p>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2 align = "center">Techniques</h2>

    <h3>Why are Chemical Competent Cells used instead of Electrically Competent Cells?</h3>

    <p>
      Because they are less expensive and the transformation procedure has a
      less chance for error.
    </p>

    <h3>How do I improve my transformation technique?</h3>

    <p>
      Perform transformations in a very timely manner while making sure to
      incubate in TB right away, without allowing delay time.
    </p>

    <h3>What if I want to use less substrate per assay plate?</h3>

    <p>
      Make sure to use a similar proportion to 100 uL substrate, 75 uL of wash
      buffer, and 25 uL for the dilution. These must all be multiplied by at
      least 1.25 in order to insure a full pipet transfer from substrate plate
      to protein plate.
    </p>

    <h3>If I want to freeze individual aliquots of substrate for later use,
      should I fill the centrifuge tubes with a full 2 mL?</h3>

      <p>
        Avoid filling 2 mL centrifuge tubes with volumes larger than 1.8 mL if
        you plan to freeze them. They will explode as the liquid freezes and expands!
      </p>
      <h3>How do I report data?</h3>

      <p>
        Convert everything to molar and produce a standard curve of the data.
        Standard curves help give you a product concentration based on the OD observed.
      </p>

      <p>
        If you are unsure of what units to use, how to tell which coefficients
        (linear vs mm) are needed, or are having technical problems using the website,
        email the SEEK creators.
      </p>
    </div>
  <div class="col-md-6">
    <h2 align = "center">Expression</h2>
    <h3>What is the threshold for non-expression?</h3>

      <p>
        Less than 0.165 mg/mL, or not visible on a gel, is considered
        non-expressed.
      </p>

    <h3>What is the threshold for expressed, but inactive?</h3>

      <p>
        A yield greater than 0.165 mg/mL, with an efficiency less than 1.0/(M·s),
        is considered inactive.
      </p>
  </div>
</div>

{% endblock content %}
