{% extends "base.html" %}
{% block title %}SEEK - Materials and methods: &beta;-glucosidase B{% endblock title %}
{% block content %}

<div class="page-header">
  <h1>Materials and methods</h1>
  <p class="lead">Quickstart with &beta;-glucosidase B</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Introduction</h2>

    <p>This page is an interactive protocol designed to be used by anyone equipped with
      basic lab equipment. Look over the prerequisites at right to decide if you're
      ready to get started.</p>
  </div>
  <div class="col-md-4">
    <h2>Metadata</h2>
	<ul>
    <li>Addgene: <a href="https://www.addgene.org/browse/article/8557/">BglB in pET29b(+)</a></li>
    <li>Organism: <em>Paenibacillus polymyxa</em></li>
    <li>Uniprot: <a href="http://www.uniprot.org/uniprot/P22505">P22505</a></li>
    <li>PDB: <a href="http://www.rcsb.org/pdb/explore/explore.do?structureId=2jie">2JIE</a></li>
    <li>EC: <a href="http://www.brenda-enzymes.info/php/result_flat.php4?ecno=3.2.1.21">3.2.1.21</a></li>
	</ul>
  </div>
  <div class="col-md-4">
    <h2>Hardware</h2>
    <ul>
      <li>Centrifuge</li>
      <li>Thermal cycler or dry bath </li>
      <li>Shaking incubator</li>
      <li>Computer to run Foldit</li>

    </ul>
  </div>
</div>

<h2 data-toggle="collaps" data-target="#design" aria-expanded="false">Design: using Foldit to make mutations</h2>
<p class="lead">In this step, you will obtain Foldit, a program for designing proteins,
        load in a model of &beta;-glucosidase B, and make mutations.</p>

<div class="row collaps" id="design">
  <div class="col-md-6">
    <h3>Important basics</h3>
    <h4>Load your protein</h4>

    <p>Start &rarr; Intro Puzzles &rarr; Level 1-1 &rarr; Intro Puzzle</p>
    <p>Once the intro puzzle has loaded: </p>
    <p>Ctrl-Alt-Shift-A</p>

    <p>Select all four files: </p>

      <dl>
        <dt>bagel.pdb</dt>
        <dd>Protein Data Bank structure of &beta;-glucosidase B</dd>
        <dt>cid92930.params</dt>
        <dd>Foldit parameters file for 4-nitrophenylglucopyranoside</dd>
        <dt>cid92930.conf.pdb</dt>
        <dd>Conformers for 4-nitrophenylglucopyranoside</dd>
        <dt>cid92930.enzdes.cst</dt>
        <dd>Foldit constraint file</dd>
      </dl>

    <h4>Use the advanced design interface</h3>
    <p>Enable the following options for best experience:</p>
    <ul>
      <li>Menu &rarr; Selection Interface</li>
      <li>Menu &rarr; General Options &rarr; Show Advanced GUI</li>
      <li>Menu &rarr; View Options
        <ul>
          <li>Cartoon Thin</li>
          <li>Score/Hydro+CPK</li>
        </ul>
      </li>
    </ul>

    <h4>Save your protein</h4>
    <p>Ctrl-Alt-Shift-S</p>

    <h4>Residue energy</h4>
    <p>Mouse over residue so it is highlighted and hit Tab</p>
  </div>

    <div class="col-md-6">
      <h3>Commands reference </h3>
      <h4>Viewing</h4>
      <ul>
        <li><p>Zoom to Area of Interest: Mouse over residue of interest so it is highlighted;  hit Shift-Q  (no click) I often move around until I see the ligand and then do this</p></li>
        <li><p>BackShading:  Ctrl-Shift-Click (on black backdrop) and drag</p></li>
        <li><p>Front Clipping:  Ctrl-Alt-Click (on black backdrop) and drag</p></li>
        <li><p>Measuring:  Mouse over atom1 of interest, hit Ctrl-Alt-Shift-C (no click), repeat for atom 2 (reports distance), atom 3 (angle), and atom 4 (dihedral)</p></li>
      </ul>

      <h4>Selecting</h4>
      <ul>
        <li><p>See upper left corner of Foldit</p></li>
        <li><p>Sphere Around:  Ctrl-Shift-Click on residue and drag </p></li>
      </ul>

      <h4>Design</h4>
      <ul>
      <li>Click residue and hit mutate (m).  Selecting a subset of residues (lower right boxes) can be used to do directed designs.  This selection will be used in both mutate AND shake (i.e. shake now mutates those residues while everything else stays native).</li>
      </ul>

      <h4>Terminal </h4>
      <ul>
      <li>(Main &rarr; Script Terminal)</li>
      <li>Select specific residue:  selection.Select(<res#>)</li>
      <li>Zoom to specific residue:  ui.CenterViewport(<res#>)</li>
      </ul>
  </div>

  <div class="col-md-6">
    <h2>Rules of Thumb</h2>

    <ul>
    <li>NEVER WIGGLE (W) without selecting a sub-selection. </li>
    <li>Sometimes high energies (mutations/conformations) are need to get to the low energy.</li>
    <li>Importance of score is in order as it appears in the Tab menu</li>
    <li>Native or close to native is generally better</li>
    <li>Manually force the interaction you want and then side-chain wiggle (E) those residues and the ones around it</li>
    <li>General order of operations:  E &rarr; S &rarr; E</li>
    <li>If score is not dropping faster than 0.05/s you are likely at an energy minima.  This is true ONLY FOR Wiggling (W/E).  If you are shaking pay attention to the number of cycles on the upper left corner.  Often the low energy is found after 5-10 cycles (cycles is the number in the parenthesis after the timer).</li>
    </ul>

    <h2>General Energy Rules (on a per amino acid basis)</h2>

    <ul>
    <li>Energies less than 0 are good.</li>
    <li>Energies 0 - +2 can be ok if clashing (fa_rep) is low (i.e. &lt;1)</li>
    <li>Energies +2 - +5 are iffy… but can work if you think the "static" picture is missing the enabling feature</li>
    <li>Energies +5 - +10 are are unlikely… something will likely have to move for this to work</li>
    <li>Energies >+10 are really unlikely to work… but go for it if you have a good reason</li>
    </ul>
  </div>
</div>


<h2>Build: making and purifying mutants</h2>
<p class="lead">In this step, you will take the genetic constructs from the first step,
        express them in a model organism, and purify your mutant proteins for
        testing in the next step.</p>

<h3 data-toggle="collaps" data-target="#day0" aria-expanded="false">Day 0: Genetic constructs and working stocks </h3>
<div class="row collaps" id="day0">
  <div class="col-md-6">
    <h4>Genetic constructs</h4>
    <p>Create mutant plasmids using the <a href="">Siegel Lab protocol for Kunkel mutagenesis</a></p>
    <p>Alternatively, use the Transcriptic cloud laboratory platform to create your mutants. For more information, contact <a href="mailto:yin@transcriptic.com">Yin He</a> at <a href="https://www.transcriptic.com">Transcriptic</a></p>
  </div>

  <div class="col-md-6">
    <h4>Working stocks</h4>

    <h5>LB <b>plates</b> with kanamycin (25 plates)</h5>
    <p>Autoclave 250 mL water with 2 pellets of LB agar in a 500 mL bottle. After autoclaving, hold in 50 C dry bath until 50 C, then add 250 µL 1000X kanamycin solution. Use a serological pipet to pour 8–10 mL per plate   </p>

    <h5><strong>Lysis mix</strong> (100 reactions)</h5>
    <p>Combine 80 mg lysozyme, 10 mg DNAse, and 10 mg PMSF </p>

    <h5>Terrific broth (<strong>TB</strong>) (250 mL)</h5>
    <p>Dissolve 12.5 g granulated or powder TB in 250 mL water and autoclave</p>

    <h5>1 M isopropyl-beta-D-thiogalactopyranoside (1000X <strong>IPTG</strong>) (10 mL)</h5>
    <p>Dissolve 2.40 g IPTG in 10 mL wash buffer. Store 250 µL aliquots at –20 C</p>

    <h5><strong>Wash buffer</strong> (1 L)</h5>
    <p>Dissolve 11.9 g HEPES, 8.7 g sodium chloride, and 0.68 g imidazole in water and adjust pH to 7.50</p>

    <h5><strong>Protein buffer</strong> (1 L)</h5>
    <p>Dissolve 11.9 g HEPES, 8.7 g sodium chloride, and 7.31 g EDTA in water and adjust pH to 7.50</p>

    <h5>0.1 M 4-nitrophenyl-beta-D-glucopyranoside (<strong>substrate</strong>) (100 mL)</h5>
    <p>Dissolve 3.01 g 4-nitrophenyl-beta-D-glucopyranoside in 100 mL protein buffer. Store 1.25 mL aliquots at –20 C </p>

  </div>
</div>


<h3 data-toggle="collaps" data-target="#day1" aria-expanded="false"> Day 1: Transform cells with your mutant plasmid</h3>
<div class="row collaps" id="day1">
  <div class="col-md-6">
    <blockquote>

    </blockquote>


    <h4>Hardware</h4>
    <ul>
      <li>Dry bath pre-warmed to 42 C</li>
      <li>Ice in ice bucket</li>
      <li>Pipets: 2 and 20 and 200 and tips</li>
      <li>2 mL tube rack</li>
    </ul>

    <h4>Software</h4>
    <ul>
      <li>2 mL tubes</li>
      <li>Chemically-competent <em>Escherichia coli</em> BL21(DE3)</li>
      <li>Mutant plasmid solution (20 ng/uL or greater) </li>
      <li>Agar plate with 50 ug/mL kanamycin</li>
    </ul>

    <h4>Instructions</h4>
    <ol>
      <li>Aliquot 1-2 µL of plasmid solution into tubes and set on ice for 5 min</li>
      <li>Add 20 uL competent cells to tubes. Note: competent cells are fragile, so keep them ice cold and treat gently</li>
      <li>Incubate the mixture of plasmid and cells on ice for 10 minutes </li>
      <li>Incubate at 42 C for 60 seconds</li>
      <li>Incubate on ice for 2 minutes </li>
      <li>Add 200 µL media and recover in the incubator at 37 C for 1 hour </li>
      <li>After an hour, plate the cells on to an antibiotic selection plate (kanamycin).</li>
      <li>Incubate plate overnight at 37 C</li>
    </ol>
    <div>
      <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/M8z_NtASxLQ" frameborder="0" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

<h3 data-toggle="collaps" data-target="#day2" aria-expanded="false">Day 2: Growth cultures </h3>
<div class="row collaps" id="day2">
  <div class="col-md-6">
    <h4>Hardware</h4>
    <ul>
      <li>Tube rack</li>
      <li>Incubating shaker at 37 C</li>
      <li>Serological pipet aspirator</li>
    </ul>

    <h4>Software</h4>
    <ul>
      <li>Serological pipet</li>
      <li>50 mL Falcon tube</li>
      <li>Breathable plate seals (cut to fit tubes)</li>
    </ul>

    <h4>Instructions </h4>
    <ol>
      <li>Aliquot 5 mL of terrific broth with kanamycin into all Falcon tubes</li>
      <li>Inoculate tube by scraping one bacteria colony with the small tip on a pipetter, then pipetting tip into terrific broth to ensure mixing</li>
      <li>Seal tubes with plate seals and incubate 24 hours at 37 C with shaking</li>
    </ol>
    <div>
      <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/vcX1n7NsxXo" frameborder="0" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>


<h3 data-toggle="collaps" data-target="#day3" aria-expanded="false">Day 3: Expression cultures </h3>
<div class="row collaps" id="day3">
  <div class="col-md-6">
    <h4>Hardware</h4>
    <ul>
      <li></li>
    </ul>

    <h4>Software</h4>
    <ul>
      <li></li>
    </ul>

    <h4>Instructions </h4>
    <ol>
      <li>Centrifuge growth cultures at 4700 RPM for 10 minutes</li>
      <li>Pour off supernatant</li>
      <li>Combine IPTG, kanamycin, and terrific broth to make induction medium</li>
      <li>Add 1 mL induction medium to tubes</li>
      <li>Vortex to resuspend pellet</li>
      <li>Add 4 mL induction medium to tubes</li>
      <li>Seal and incubate for 24 hours at <b>18 C</b> with shaking</li>
    </ol>
    <div>
      <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/4i_zKsi9ZRA" frameborder="0" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

<h3 data-toggle="collaps" data-target="#day4" aria-expanded="false">Day 4: Purification </h3>
<div class="row collaps" id="day4">
  <div class="col-md-6">
    <h4>Hardware</h4>
    <ul>
      <li>Waste collector tray</li>
      <li>50 mL Falcon tube rack </li>
      <li>Microcolumns [add part number]</li>
      <li>Pipets </li>
    </ul>
    <h4>Software</h4>
    <ul>
      <li>Ni-NTA resin slurry</li>
      <li>wash buffer (see recipes)</li>
      <li>elution buffer (see recipes)</li>
    </ul>

    <h4>Instructions </h4>
    <ol>
      <li>Centrifuge expression cultures at 4,700 RPM for 10 minutes and toss supernatant</li>
      <li>While cultures are spinning, make lysis solution in a Falcon tube by combining dry lysis mix, BugBuster,
        and wash buffer. Make enough for n + 1 cultures. Per culture, use 150 uL BugBuster, 350 uL wash buffer,
        and 1 mg dry lysis mix. </li>
      <li>Dispense 500 uL aliquots of the lysis solution to 2 mL tubes. </li>
      <li>Resuspend cell pellet in 500 µL wash buffer until homogeneous. Vortexting is good for this.</li>
      <li>Transfer 1 mL of resuspension to the tubes with the lysis solution </li>
      <li>Seal and gently rock tubes for 20 minutes on the rocker</li>
      <li>Centrifuge the lysed cultures at 14,700 RPM for 20 minutes</li>
      <li>While you are clarifying the lysate in the centrifuge, set microcolumns in rack over waste collector
         tray and ready materials for purification. </li>
      <li>To prepare columns, add 100 uL Nickel-NTA resin slurry to each microcolumn. Make sure the slurry is thoroughly mixed before pipetting, and use P1000 tips for this step. The 6 histidine sequence at the C terminus of BglB is designed to stick tighly to the nickel on the beads in solution. </li>
      <li>Add about 1 column volume (approximately 1 mL) of wash buffer and allow to drip through to equilibrate
        the salt concentration and pH on the column</li>
      <li>By now your lysed cultures should be almost done spinning. Load the clarified supernatant (you will
        have up to 1.5 mL of clarified lysate) to the column 500 uL at a time, allowing to drip through each
        time</li>

      <li>Wash six times with 500 µL aliquots of wash buffer, allowing the buffer to stop dripping each time<li>

      <li>Now that your protein is stuck to the beads and you have washed away undesired proteins from
        the clarified lysate, transfer each column to a fresh tube</li>

      <li>Elute your protein off of the column and into the fresh tube by adding 100 uL elution buffer,
        waiting 5 min, and then adding another 100 uL</li>
      <li>Briefly centrifuge to ensure you collect all your protein solution</li>

      <li>After a brief pause to clean up, determine the protein yield<li>

    </ol>
    <div>
      <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/WuowF56nra8" frameborder="0" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

<h2 data-toggle="collaps" data-target="#day5" aria-expanded="false">Test: determine kinetic constants</h2>
<p class=lead>In this step, you will measure the rate of product formation for each of your mutants </p>

<div class="row collaps" id="day5">
  <div class="col-md-6">
    <h3>Instructions</h3>
    <ol>
      <li>Perform a quick test of activity by mixing 90 µL substrate stock and 10 µL purified protein:
        <ul>
          <li><strong>If this turns yellow within 5 minutes</strong>, make 1/100 dilutions of your proteins: add 10 µL of purified protein to 990 µL of protein buffer in a Goog tube</li>
          <li><strong>If this doesn’t turn yellow within 5 minutes</strong>, make 1/10 dilutions: add 100 µL of purified protein solution to 900 µL of protein buffer in a Goog tube </li>
        </ul>
      </li>
      <li>Aliquot 25 µL of diluted protein solution into a non-binding (white) plate, using three columns per mutant and three for wild type </li>
      <li>In a convenient, inexpensive plate, aliquot 100 µL of substrate stock into the first row and 75 µL of protein buffer into the rest of the rows</li>
      <li>With multichannel pipettor, remove 25 µL from the first row, add to second row, and mix</li>
      <li>Repeat but leave the last row alone. Verify that every well is the same volume (75 µL)</li>
      <li>Transfer 75 µL substrate from cheap plate to assay plate to initiate reaction </li>
      <li>Monitor the absorbance at 420 nm every minute for 60 minutes using the plate reader</li>
      <li>Record the rate you observe at each substrate concentration. Use units of <b>M</b> (mol/L) for the concentrations and units of <b>M/s</b> for the rates.</li>
    </ol>
    <div>
      <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/35TEYrMsFKc" frameborder="0" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

{% endblock content %}
