{% extends "base.html" %}
{% block title %}SEEK - Materials and methods: &beta;-glucosidase B{% endblock title %}
{% block content %}

<div class="page-header">
  <h1>Materials and methods: &beta;-glucosidase B</h1>
  <p class="lead">Complete interactive protocol to get started with enzyme engineering</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Introduction</h2>

    <p>This page is an interactive protocol designed to be used by anyone equipped with
      basic lab equipment. Look over the prerequisites at right to decide if you're
      ready to get started.</p>
  </div>
  <div class="col-md-4">
    <h2>Metadata</h2>
	<ul>
    <li>Addgene: <a href="https://www.addgene.org/browse/article/8557/">BglB in pET29b(+)</a></li>
    <li>Organism: <em>Paenibacillus polymyxa</em></li>
    <li>Uniprot: <a href="http://www.uniprot.org/uniprot/P22505">P22505</a></li>
    <li>PDB: <a href="http://www.rcsb.org/pdb/explore/explore.do?structureId=2jie">2JIE</a></li>
    <li>EC: <a href="http://www.brenda-enzymes.info/php/result_flat.php4?ecno=3.2.1.21">3.2.1.21</a></li>
	</ul>
  </div>
  <div class="col-md-4">
    <h2>Hardware</h2>
    <ul>
      <li>Centrifuge</li>
      <li>Thermal cycler or dry bath </li>
      <li>Shaking incubator</li>
      <li>Computer to run Foldit</li>

    </ul>
  </div>
</div>

<h2 data-toggle="collapse" data-target="#design" aria-expanded="false">Design: using Foldit to make mutations</h2>
<p class="lead">In this step, you will obtain Foldit, a program for designing proteins,
        load in a model of &beta;-glucosidase B, and make mutations.</p>

<div class="row collapse" id="design">
  <div class="col-md-6">
    <h3>Important basics</h3>
    <h4>Load your protein</h4>

    <p>Start &rarr; Intro Puzzles &rarr; Level 1-1 &rarr; Intro Puzzle</p> 
    <p>Once the intro puzzle has loaded hit: </p>
    <p>Ctrl-Alt-Shift-A</p>

    <p>Select all four files: </p>

      <dl>
        <dt>bagel.pdb</dt>
        <dd>Protein Data Bank structure of &beta;-glucosidase B</dd>
        <dt>cid92930.params</dt>
        <dd>Foldit parameters file for 4-nitrophenylglucopyranoside</dd>
        <dt>cid92930.conf.pdb</dt>
        <dd>Conformers for 4-nitrophenylglucopyranoside</dd>
        <dt>cid92930.enzdes.cst</dt>
        <dd>Foldit constraint file</dd>
      </dl>

    <h4>Use the advanced design interface</h3>
    <p>Enable the following options for best experience:</p>
    <ul>
      <li>Menu &rarr; Selection Interface</li>
      <li>Menu &rarr; General Options &rarr; Show Advanced GUI</li>
      <li>Menu &rarr; View Options 
        <ul>
          <li>Cartoon Thin</li>
          <li>Score/Hydro+CPK</li>
        </ul>
      </li>
    </ul>
    
    <h4>Save your protein</h4>
    <p>Ctrl-Alt-Shift-S</p>

    <h4>Residue energy</h4>
    <p>Mouse over residue so it is highlighted and hit Tab</p>
  </div>
  
    <div class="col-md-6">    
      <h3>Commands reference </h3>
      <h4>Viewing</h4>
      <ul>
        <li><p>Zoom to Area of Interest: Mouse over residue of interest so it is highlighted;  hit Shift-Q  (no click) I often move around until I see the ligand and then do this</p></li>
        <li><p>BackShading:  Ctrl-Shift-Click (on black backdrop) and drag</p></li>
        <li><p>Front Clipping:  Ctrl-Alt-Click (on black backdrop) and drag</p></li>
        <li><p>Measuring:  Mouse over atom1 of interest, hit Ctrl-Alt-Shift-C (no click), repeat for atom 2 (reports distance), atom 3 (angle), and atom 4 (dihedral)</p></li>
      </ul>

      <h4>Selecting</h4>
      <ul>
        <li><p>See upper left corner of Foldit</p></li>
        <li><p>Sphere Around:  Ctrl-Shift-Click on residue and drag </p></li>
      </ul>

      <h4>Design</h4>
      <ul>
      <li>Click residue and hit mutate (m).  Selecting a subset of residues (lower right boxes) can be used to do directed designs.  This selection will be used in both mutate AND shake (i.e. shake now mutates those residues while everything else stays native).</li>
      </ul>
    
      <h4>Terminal </h4>
      <ul>
      <li>(Main &rarr; Script Terminal)</li>
      <li>Select specific residue:  selection.Select(<res#>)</li>
      <li>Zoom to specific residue:  ui.CenterViewport(<res#>)</li>
      </ul>    
  </div>

  <div class="col-md-6">
    <h2>Rules of Thumb</h2>

    <ul>
    <li>NEVER WIGGLE (W) without selecting a sub-selection. </li>
    <li>Sometimes high energies (mutations/conformations) are need to get to the low energy.</li>
    <li>Importance of score is in order as it appears in the Tab menu</li>
    <li>Native or close to native is generally better</li>
    <li>Manually force the interaction you want and then side-chain wiggle (E) those residues and the ones around it</li>
    <li>General order of operations:  E &rarr; S &rarr; E</li>
    <li>If score is not dropping faster than 0.05/s you are likely at an energy minima.  This is true ONLY FOR Wiggling (W/E).  If you are shaking pay attention to the number of cycles on the upper left corner.  Often the low energy is found after 5-10 cycles (cycles is the number in the parenthesis after the timer).</li>
    </ul>

    <h2>General Energy Rules (on a per amino acid basis)</h2>

    <ul>
    <li>Energies less than 0 are good.</li>
    <li>Energies 0 - +2 can be ok if clashing (fa_rep) is low (i.e. &lt;1)</li>
    <li>Energies +2 - +5 are iffy… but can work if you think the "static" picture is missing the enabling feature</li>
    <li>Energies +5 - +10 are are unlikely… something will likely have to move for this to work</li>
    <li>Energies >+10 are really unlikely to work… but go for it if you have a good reason</li>
    </ul>
  </div>
</div>


<h2>Build: making and purifying mutants</h2>
<p class="lead">In this step, you will take the genetic constructs from the first step,
        express them in a model organism, and purify your mutant proteins for
        testing in the next step.</p>

<h3 data-toggle="collapse" data-target="#day0" aria-expanded="false">Day 0: Genetic constructs and working stocks </h3>
<div class="row collapse" id="day0">
  <div class="col-md-6">
    <h4>Genetic constructs</h4>
    <p>To create genetic constructs for your mutants, email <a href="mailto:yin@transcriptic.com">Yin He</a> at <a href="https://www.transcriptic.com">Transcriptic</a></p>
  </div>
  
  <div class="col-md-6">
    <h4>Working stocks</h4>
    
    <h5>LB <b>plates</b> with kanamycin (25 plates)</h5>
    <p>Autoclave 250 mL water with 2 pellets of LB agar in a 500 mL bottle. After autoclaving, hold in 50 C dry bath until 50 C, then add 250 µL 1000X kanamycin solution. Use a serological pipet to pour 8–10 mL per plate   </p>
  
    <h5><strong>Lysis mix</strong> (100 reactions)</h5>
    <p>Combine 80 mg lysozyme, 10 mg DNAse, and 10 mg PMSF </p>

    <h5>Terrific broth (<strong>TB</strong>) (250 mL)</h5>
    <p>Dissolve 12.5 g granulated or powder TB in 250 mL water and autoclave</p>

    <h5>1 M isopropyl-beta-D-thiogalactopyranoside (1000X <strong>IPTG</strong>) (10 mL)</h5>
    <p>Dissolve 2.40 g IPTG in 10 mL wash buffer. Store 250 µL aliquots at –20 C</p>

    <h5><strong>Wash buffer</strong> (1 L)</h5>
    <p>Dissolve 11.9 g HEPES, 8.7 g sodium chloride, and 0.68 g imidazole in water and adjust pH to 7.50</p>

    <h5><strong>Protein buffer</strong> (1 L)</h5>
    <p>Dissolve 11.9 g HEPES, 8.7 g sodium chloride, and 7.31 g EDTA in water and adjust pH to 7.50</p>

    <h5>0.1 M 4-nitrophenyl-beta-D-glucopyranoside (<strong>substrate</strong>) (100 mL)</h5>
    <p>Dissolve 3.01 g 4-nitrophenyl-beta-D-glucopyranoside in 100 mL protein buffer. Store 1.25 mL aliquots at –20 C </p>
    
  </div>
</div>


<h3 data-toggle="collapse" data-target="#day1" aria-expanded="false"> Day 1: Transform expression cells </h3>

<div class="row collapse" id="day1">
  <div class="col-md-6">
    <h4>Hardware</h4>
    <ul>
      <li>Dry bath pre-warmed to 42 C</li>
      <li>Ice in ice bucket</li>
      <li>Pipets: 2 and 20 and 200 and tips</li>
    </ul>
  </div>

  <div class="col-md-6">
    <h4>Software</h4>
    <table>
      <tr class="header">
        <td></td>
        <td>Concentration</td>
        <td>Amount per sample</td>
      
      </tr>
      <tr>
        <td>2 mL tube</td>
        <td></td>
        <td>1</td>
      <tr>
      <tr>
        <td>Chemically-competent <em>E. coli</em> BLR</td>
        <td></td>
        <td>20 &mu;L</td>
      <tr>
      <tr>
        <td>Plasmid</td>
        <td>>20 ng/&mu;L</td>
        <td>2 &mu;L</td>
      <tr>
    </table>
  </div>

  <div class="col-md-9">
    <h4>Instructions</h4>
    <ol>
      <li>In an ice cold Goog tube, mix 1 µL plasmid and 20 µL competent cells</li>
      <li>Incubate on ice for 10 minutes </li>
      <li>Incubate at 42 C for 60 seconds</li>
      <li>Incubate on ice for 60 seconds</li>
      <li>Add 200 µL media and recover at 37 C for 1 hour</li>
      <li>Pipet 200 µL recovered cells on to plate, add glass beads, shake, 
        and get rid of beads</li>
      <li>Incubate plate overnight at 37 C</li>
    </ol>
  </div>
  <div class="col-md-3">
  </div>
</div>

<h3 data-toggle="collapse" data-target="#day2" aria-expanded="false">Day 2: Growth cultures </h3>

<div class="row collapse" id="day2">
  <div class="col-md-6">
    <h4>Hardware</h4>
    <ul>
      <li></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h4>Software</h4>
    <ul>
      <li></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h4>Instructions </h4>

    <ol>
      <li>Aliquot 5 mL of terrific broth with kanamycin into all Falcon tubes</li>
      <li>Inoculate tube by scraping one bacteria colony with the small tip on a pipetter, then pipetting tip into terrific broth to ensure mixing</li>
      <li>Seal tubes with plate seals and incubate 24 hours at 37 C with shaking</li>
    </ol>
    
  </div>
  <div class="col-md-6">
  </div>
</div>


<h3 data-toggle="collapse" data-target="#day3" aria-expanded="false">Day 3: Expression cultures </h3>

<div class="row collapse" id="day3">

  <div class="col-md-6">
    <h4>Hardware</h4>
    <ul>
      <li></li>
    </ul>

    <h4>Software</h4>
    <ul>
      <li></li>
    </ul>
  </div>

<div class="col-md-6">
    <h4>Instructions </h4>

    <ol>
      <li>Centrifuge growth cultures at 4700 RPM for 10 minutes</li>
      <li>Pour off supernatant</li>
      <li>Combine IPTG, kanamycin, and terrific broth to make induction medium</li>
      <li>Add 1 mL induction medium to tubes</li>
      <li>Vortex to resuspend pellet</li>
      <li>Add 4 mL induction medium to tubes</li>
      <li>Seal and incubate for 24 hours at <b>18 C</b> with shaking</li>
    </ol>
    
  </div>
  <div class="col-md-6">
  </div>
</div>

<h3 data-toggle="collapse" data-target="#day4" aria-expanded="false">Day 4: Purification </h3>

<div class="row collapse" id="day4">
  <div class="col-md-6">
    <h4>Hardware</h4>
    <ul>
      <li></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h4>Software</h4>
    <ul>
      <li></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h4>Instructions </h4>

    <ol>
      <li>Centrifuge expression cultures at 4,700 RPM for 10 minutes and toss supernatant</li>
      <li>Resuspend cell pellet in 500 µL wash buffer and transfer 1 mL to Goog tube</li>
      <li>Make lysis buffer by mixing BugBuster, wash buffer, and lysis mix in a sterile tube</li>
      <li>Aliquot 500 µL lysis buffer into resuspended pellets in Goog tubes </li>
      <li>Rock tubes for 20 minutes </li>
      <li>Centrifuge at 14,700 RPM for 10 minutes </li>
      <li>Set microcolumns in rack over waste collector </li>
      <li>Add 100uL of nickel resin (blue) from 50% slurry to each microcolumn</li>
      <li>Add 500 µL of wash buffer and allow to drip through</li>
      <li>Add 500 µL of supernatant and allow to drip through</li>
      <li>Add another 500 µL of supernatant and allow to drip through  </li>
      <li>Wash six times with 500 µL of wash buffer, allow to drip through each time</li>
      <li>Transfer column to fresh tube</li>
      <li>Add 100 µL protein buffer directly to beads and wait five minutes </li>
      <li>Add second 100 µL protein buffer and spin briefly to ensure you get all your protein </li>
      <li>Read yield on the spectrophotometer and record data in Excel template “Yields” </li>
      <li><p>Run a gel and set in stain on the rocker overnight</p></li>
    </ol>
    
  </div>
  <div class="col-md-6">
  </div>
</div>

<h2 data-toggle="collapse" data-target="#day5" aria-expanded="false">Test: determine kinetic constants</h2>

<p class=lead>In this step, you will use a spectrophotometer to determine the kinetic
  constants of your mutants. You will find out how the hypotheses you made
  in the first step translate into experimental findings.</p>


<div class="row collapse" id="day5">
  <div class="col-md-6">
    <h3>Instructions</h3>
    <ol>
      <li>Remove stain from gel and replace with water</li>
      <li>
        Perform a quick test of activity by mixing 90 µL substrate stock and 10 µL purified protein:
        <ul>
          <li><strong>If this turns yellow within 5 minutes</strong>, make 1/100 dilutions of your proteins: add 10 µL of purified protein to 990 µL of protein buffer in a Goog tube</li>
          <li><strong>If this doesn’t turn yellow within 5 minutes</strong>, make 1/10 dilutions: add 100 µL of purified protein solution to 900 µL of protein buffer in a Goog tube </li>
        </ul>
      </li>      
      <li>Aliquot 25 µL of diluted protein solution into a non-binding (white) plate, using three columns per mutant and three for wild type </li>
      <li>In a convenient, inexpensive plate, aliquot 100 µL of substrate stock into the first row and 75 µL of protein buffer into the rest of the rows</li>
      <li>With multichannel pipettor, remove 25 µL from the first row, add to second row, and mix</li>
      <li>Repeat but leave the last row alone. Verify that every well is the same volume (75 µL)</li>

      <li>Set up Gen5 program “Model enzyme kinetics” </li>

      <li>Transfer 75 µL substrate from cheap plate to assay plate to initiate reaction </li>
      <li>After 1 hour, examine your data to make sure the Gen5-calculated rates make sense </li>
            
      <li>Record the rate you observe at each substrate concentration. Use units of <b>M</b> (mol/L) for the concentrations and units of <b>M/s</b> for the rates.</li>
    </ol>
  </div>
  
  <div class="col-md-6">
  </div>
</div>

{% endblock content %}
