{% extends "base.html" %}
{% block content %}

<div class="page-header">
  <h1>Preview your results</h1>
  <p class="lead">Your results</p>
</div>

{% for sample, value in analyses.items %}
<div class="row">
  <div class="col-md-4">
    <a href="data:image/png;base64,{{ value.linear_plot }}">
      <img height=300 src="data:image/png;base64,{{ value.linear_plot }}"/>
    </a>
  </div>
  <div class="col-md-4">
    <h2>{{sample|upper}}</h2>
    <table class="table table-hover table-bordered table-condensed">
      <tr>
        <td>
          k<sub><em>cat</em></sub>
        </td>
        <td>
          {{value.kcat|stringformat:"1.0e"}} &plusmn; {{value.err1|stringformat:"1.0e"}} min<sup>&ndash;1</sup> 
        </td>
      </tr>
      
      <tr>
    <td>K<sub><em>M</em></sub></td>
    <td>{{value.km|stringformat:"1.0e"}} &plusmn; {{value.err2|stringformat:"1.0e"}} M</td>
  </tr>
  <tr>
    <td>Efficiency</td>
    <td>{{value.eff|stringformat:"1.0e"}} &plusmn; {{value.err3|stringformat:"1.0e"}} </td>
  </tr>
    </table>
  </div>
  <div class="col-md-4">
  
  </div>
  
</div>
<hr>
{% endfor %}

<form action="/thanks/" method="post">{% csrf_token %}
      {% for field in form %}
        {{ field.as_hidden }}
      {% endfor %}
      <a class="btn btn-info" href="#" role="button">Download CSV</a>
      <input class="btn btn-primary" type="submit" value="Submit to SEEK" /></p>
    </form>
  </div>
</div>
<hr>

{%endblock %}
