<!doctype html>
<html lang=en>
	<head>
		<meta charset=utf8>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'enter/style.css' %}">
    <title>{% block title %}Enzyme Engineering Portal{% endblock %}</title>
	</head>
	<body>
		<h1>
			<big>EED</big>
			<br><small>Enzyme engineering portal</small>
		</h1>
		<nav>
			<a href="/enter/">Home</a>
			<a href="/enter/systems">Systems</a>
      <a href="/enter/help">Help</a>
			<a href="/enter/browse">Browse</a>
			<a href="/enter/submit">Submit</a>
		</nav>

    {% block content %}Default text{% endblock content %}

		<footer>
		<p>Engineered Enzyme Database at the University of California, Davis</p>
		<p>UC Davis Genome Center, 451 Health Sciences Drive, Davis CA 95616</p>
    <p><small>Need help? Email <a href="">help@enzymedb.org</a></small></p>
		</footer>
	</body>
</html>
